In [1]:
import pandas as pd

In [17]:
df = pd.read_excel("Dashboard - Project Tracking.xlsx",nrows = 14, skiprows = 1, index_col=0)

In [18]:
df

,PG,District,Developer,Category of Institution,Category of System,Estimated Capacity,LICA Signing Date,LICA acceptance Date (Dev),CPBG Amount,CPBG Submission Date,...,NM application submission date,Project layout Date,BoM Date,COD Milestone,Extension provided for CS Fulfilment,LD deduction start date,Accumulated LD for non compliance CS Fulfilment,Project Completion date,NM approval (for C1),Advanced Subsidy Taken?
Site Identification Number,,,,,,,,,,,,,,,,,,,,,
1,A,D1,Hero,Hospital,Net Metered,317,2018-10-13,2018-10-19,792500,2018-10-29,...,2019-02-26,2019-02-26,2019-02-26,2019-02-26,0,2019-03-13,NaN,2019-12-08,0,1
2,A,D2,Tepsol,College,Captive,297,2018-10-12,2018-10-22,742500,2018-11-01,...,2019-03-20,2019-03-20,2019-03-20,2019-03-20,30,2019-04-19,NaN,2020-03-06,0,1
3,B,D1,Archita,Hospital,Net Metered,278,2018-10-14,2018-10-22,695000,2018-11-03,...,2019-01-15,2019-01-15,2019-01-15,2019-01-15,0,2019-01-18,NaN,2019-10-01,1,0
4,B,D3,Hero,College,Captive,75,2018-10-13,2018-10-22,187500,2018-11-04,...,2019-02-16,2019-02-16,2019-02-16,2019-02-16,0,2019-01-30,NaN,2019-11-18,0,0
5,B,D3,Tepsol,College,Captive,116,2018-10-14,2018-10-28,290000,2018-11-04,...,2019-04-25,2019-04-25,2019-04-25,2019-04-25,30,2019-05-05,NaN,2020-04-25,0,0
6,A,D1,Archita,College,Net Metered,118,2018-10-15,2018-10-25,295000,2018-11-04,...,2019-03-16,2019-03-16,2019-03-16,2019-03-16,0,2019-04-02,NaN,2019-12-26,0,1
7,E,D1,Hero,College,Captive,364,2018-10-14,2018-10-20,910000,2018-10-29,...,2019-02-22,2019-02-22,2019-02-22,2019-02-22,60,2019-05-12,NaN,2020-02-27,0,0
8,D,D3,Tepsol,College,Net Metered,377,2018-10-14,2018-10-29,942500,2018-11-12,...,2019-04-23,2019-04-23,2019-04-23,2019-04-23,0,2019-04-06,NaN,2020-02-13,1,0
9,E,D3,Archita,Hospital,Net Metered,338,2018-10-11,2018-10-19,845000,2018-10-28,...,2019-01-12,2019-01-12,2019-01-12,2019-01-12,30,2019-02-16,NaN,2020-01-18,0,0
10,E,D2,Hero,College,Captive,485,2018-10-10,2018-10-24,1212500,2018-11-01,...,2019-01-25,2019-01-25,2019-01-25,2019-01-25,60,2019-03-21,NaN,2019-11-27,0,1
11,D,D2,Tepsol,Hospital,Net Metered,331,2018-10-12,2018-10-18,827500,2018-10-30,...,2018-12-27,2018-12-27,2018-12-27,2018-12-27,60,2019-03-15,NaN,2019-12-16,1,1
12,F,D1,Archita,Hospital,Captive,99,2018-10-15,2018-10-24,247500,2018-10-31,...,2019-03-17,2019-03-17,2019-03-17,2019-03-17,60,2019-05-28,NaN,2020-03-11,0,0
13,E,D3,Hero,College,Net Metered,399,2018-10-12,2018-10-18,997500,2018-10-28,...,2019-01-02,2019-01-02,2019-01-02,2019-01-02,0,2019-01-14,NaN,2019-12-04,0,1
14,A,D1,Tepsol,Hospital,Captive,459,2018-10-10,2018-10-18,1147500,2018-11-02,...,2018-12-29,2018-12-29,2018-12-29,2018-12-29,0,2019-01-17,NaN,2019-10-02,0,0

In [19]:
df.describe()

,Estimated Capacity,CPBG Amount,Finalised SPV Capacity,Inc / Dec % wrt estimated,Extension provided for CP Fulfilment,Extension provided for CS Fulfilment,Accumulated LD for non compliance CS Fulfilment,NM approval (for C1),Advanced Subsidy Taken?
count,14.000000,1.400000e+01,14.000000,14.000000,14.000000,14.000000,0.0,14.000000,14.000000
mean,289.500000,7.237500e+05,281.285714,0.022464,1.928571,23.571429,NaN,0.214286,0.428571
std,135.584632,3.389616e+05,132.544581,0.264532,4.937522,26.777471,NaN,0.425815,0.513553
min,75.000000,1.875000e+05,69.000000,-0.410876,0.000000,0.000000,NaN,0.000000,0.000000
25%,158.000000,3.950000e+05,166.500000,-0.172757,0.000000,0.000000,NaN,0.000000,0.000000
50%,324.000000,8.100000e+05,287.500000,-0.008454,0.000000,15.000000,NaN,0.000000,0.000000
75%,373.750000,9.343750e+05,395.750000,0.301289,0.000000,52.500000,NaN,0.000000,1.000000
max,485.000000,1.212500e+06,504.000000,0.384615,15.000000,60.000000,NaN,1.000000,1.000000